.card {
  border: 10px solid black;
  width: 350px;
  border-style: double;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.card h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.card img {
  width: 200px;
}
