.title {
  text-align: center;
  margin-top: 40px;
}

.pokemonList {
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
